<style>
  /* size of radio buttons*/
  input[type=radio] {
    transform: scale(2);
  }

  html,body{
  height:100%;
  }

  div {
    max-width: 900px
  }

  div.container{
  height:100%;
  }

  #wrapper {
    height:85%;
  }

  div.row > div.col-xs-6 {
    height:100%;
    outline: 1px solid black;
  }

/*div.modal.in .modal-dialog {
        position:fixed;
        bottom:7%;
        right:20%;
        margin:fixed;
    }*/

/*div.modal.in .modal-dialog.modal {
  max-height: calc(100% - 100px);
  position: absolute;
    top: 50%;
    left: 50%;
  transform: translate(-100%, -100%);
}*/
label.feedback_label {
  font-size: 30px
}

div.feedback_box {
    background-color: white;
    color: black;
    margin: 20px 0 10px 0;
    padding: 10px;
    display: none;
}

div.instruction_box{
    background-color: white;
    color: black;
    margin: 20px 0 20px 0;
    padding: 30px;
    outline:1px solid black;
    font-size:20;
}

div.terms_box{
    background-color: white;
    color: black;
    margin: 20px 0 20px 0;
    padding: 30px;
    outline:1px solid black;
    font-size:20;
}

  div.row > div.col-xs-12 {
    height:100%;
    outline: 1px solid black;
  }

  #wrapper > div.row {
    height:50%;
  }

  #wrapper img{
    max-height:100%;
    max-width:100%;
    height:auto;
  }

</style>
{% if query.ques_type == "instruction" %}
    <div class="instruction_box" id="instruction_div">
        {{ query.target_indices[0]}}
        <br>
        <br>
        &nbsp;
        &nbsp;
        <button type="button" id="proceeed_btn" class="btn btn-danger"
                        onclick="proceed()" style="float: right; font-size: 25px;">Proceed
        </button>
        <br>
    </div>
{% elif query.ques_type == "terms" %}
    <div class="terms_box" id="terms_div">
        {{ query.target_indices[0]}}
        <br>
        <br>
        &nbsp;
        &nbsp;
        <input type="checkbox" name="agree_terms" id="agree_terms"> I acknowledge that I have read and agree to the payment eligibility criteria<br>
        <br>
        <div class="feedback_box" id="must_answer_div">
            <label style="color:red;">You must agree to the payment eligibility criteria to proceed </label>
        </div>
        &nbsp;
        &nbsp;
        <button type="button" id="proceeed_btn" class="btn btn-danger"
                      onclick="agree_and_proceed()" style="float: right; font-size: 25px;">Proceed
        </button>


    <br>
</div>
{% else %}
    <div style="text-align:right;"><span style="font-size:35px;">{{ query.ques_count }}/{{ query.total_ques_count }}</span></div>
    <div>
        <h2>Are the following two molecules the same? </h2>
    </div>

    <br>

    <div class="row">
      <!-- Left Target -->
      <div class="col-xs-6" id="left">
        {% if query.target_indices[0].primary_type == "image" or query.target_indices[0].primary_type == "img"%}
        <img id="left_image" class="center-block" src={{ query.target_indices[0].primary_description }}></img>
        <img id="left_highlight" class="center-block" src={{ query.highlights[0].primary_description }} style="display: none;"></img>

        {% elif query.target_indices[0].primary_type == "text"%}
        <div>{{ query.target_indices[0].primary_description }}</div>

        {% elif query.target_indices[0].primary_type == "video" %}
        <video width="320" height="240" poster="http://jimpunk.net/Loading/wp-content/uploads/loading1.gif" controls autoplay loop>
          <source src={{ query.target_indices[0].primary_description }} type="video/mp4">
    	Your browser does not support the video tag.
        </video>
        {% endif %}
      </div>

      <!-- Right Target -->
      <div class="col-xs-6" id="right">
        {% if query.target_indices[1].primary_type == "image" or query.target_indices[1].primary_type == "img" %}
        <img id="right_image" class="center-block" src={{ query.target_indices[1].primary_description }}> </img>
        <img id="right_highlight" class="center-block" src={{ query.highlights[1].primary_description }} style="display: none;"></img>
        {% elif query.target_indices[1].primary_type == "text" %}
        <div>{{ query.target_indices[1].primary_description }}</div>
        {% elif query.target_indices[0].primary_type == "video" %}
        <video width="320" height="240" poster="http://jimpunk.net/Loading/wp-content/uploads/loading1.gif" controls autoplay loop>
          <source src={{ query.target_indices[1].primary_description }} type="video/mp4">
    	Your browser does not support the video tag.
        </video>
        {% endif %}
      </div>
    </div>
    <div>
    <br>

        {% if query.ques_type == "training" %}
        <!-- provide feedback -->
        &nbsp;
        <form>
            <input type="radio" name="participant_training_answer" id ="participant_training_answer_yes" value="Yes"><label class="feedback_label">&nbsp;&nbsp;Yes</label><br><br>
            <input type="radio" name="participant_training_answer" id ="participant_training_answer_no" value="No"><label class="feedback_label">&nbsp;&nbsp;No</label><br>
        </form>
        <button id="feedback_submit" type="button" onclick="feedback_respond();" class="btn btn-danger" style="float: right; font-size: 25px;">Submit</button>

        {% else %}
        <!-- no feedback -->
        &nbsp;
        <form>
            <input type="radio" name="participant_answer" id ="participant_answer_yes" value="Yes"><label class="feedback_label">&nbsp;&nbsp;Yes</label><br><br>
            <input type="radio" name="participant_answer" id ="participant_answer_no" value="No"><label class="feedback_label">&nbsp;&nbsp;No</label><br>
        </form>
        <button type="button" id="answer_submit_no_feedback" onclick="submit();" class="btn btn-danger" style="float: right; font-size: 25px;">Submit</button>

        {% endif %}
    </div>
    </div>
    <br>
    <!-- Feedback div -->
    <div class="feedback_box" id="feedback_div">
        <h2 id="feedback_text">Your answer is <span style="font-weight: bold;"  id="feedback_msg1" ></span>. <span style=""  id="feedback_msg2" ></span></h2><br>
        <button type="button" class="btn btn-danger" id="answer_submit_feedback"
                        onclick="submit_response()" style="float: right; font-size: 25px;">Proceed</button>
    </div>
    <!-- Must answer div -->
    <div class="feedback_box" id="must_answer_div">
        <h3 >You must select either Yes or No to proceed. </h3>
    </div>

{% endif %}

<script>

var response;
var feedback_message;
var correct_answer;
var feedback_message2;
var respond = function(label){
    console.log('setting response variable')

    // Disable buttons during feedback
    document.getElementById("participant_training_answer_yes").disabled = true;
    document.getElementById("participant_training_answer_no").disabled = true;
    document.getElementById("feedback_submit").style.visibility = "hidden";

    // Display modal with feedback
    response = (label === "Yes");
    generate_correct_answer({{ query.same }}, response);
    generate_feedback_message2({{ query.same }});
    if (correct_answer) {
        document.getElementById("feedback_msg1").innerHTML = "correct";
        document.getElementById("feedback_msg1").style.color = "green";
    }
    else {
        document.getElementById("feedback_msg1").innerHTML = "incorrect";
        document.getElementById("feedback_msg1").style.color = "red";

        // show highlighted images
        document.getElementById("left_image").style.display = "none";
        document.getElementById("left_highlight").style.display = "block";
        document.getElementById("right_image").style.display = "none";
        document.getElementById("right_highlight").style.display = "block";

    }
    $('#feedback_msg2').text(feedback_message2);

    // Show feedback div
    $('#feedback_div').css('display','block');
}

var submit_response = function() {
    /* note: response variable always exists because the variable is assigned before modal
    displays, showing this button that calls this function*/
    document.getElementById("answer_submit_feedback").disabled = true;
    if (response) {
        submit_yes()
    }
    else {
        submit_no()
    }
}

var generate_message = function(same, response){
    if (same && response){
        feedback_message = "Your answer is Correct. The two molecules are the same.";
    }
    else if (!same && !response){
        feedback_message = "Your answer is Correct. The two molecules are different.";
    }
    else if (!same && response){
        feedback_message = "Your answer is Incorrect. The two molecules are different.";
    }
    else {
        feedback_message = "Your answer is Incorrect. The two molecules are the same.";
    }
}

var generate_correct_answer = function(same, response){
    if (same && response){
        correct_answer = 1;
    }
    else if (!same && !response){
        correct_answer = 1;
    }
    else if (!same && response){
        correct_answer = 0;
    }
    else {
        correct_answer = 0;
    }
}

var generate_feedback_message2 = function(same) {
    if (same) {
        feedback_message2 = "The two molecules are the same."
    }
    else {
        feedback_message2 = "The two molecules are different."
    }
}

var proceed = function() {
    document.getElementById("proceeed_btn").disabled = true;
    submit_yes();
}

var agree_and_proceed = function() {
    if(document.getElementById("agree_terms").checked) {
      document.getElementById("proceeed_btn").disabled = true;
      submit_yes();
    }
    else {
        // Show feedback div
        $('#must_answer_div').css('display','block');
    }
}

var submit_yes = function() {
    console.log('Submitting yes');
    next_widget.processAnswer({'target_winner': true, 'participant_uid': "{{ query.participant_uid }}"});
}

var submit_no = function() {
    console.log('Submitting no');
    next_widget.processAnswer({'target_winner': false, 'participant_uid': "{{ query.participant_uid }}"});
}

var submit = function() {
    if(document.getElementById('participant_answer_yes').checked) {
        document.getElementById("answer_submit_no_feedback").disabled = true;
        submit_yes();
    }
    else if(document.getElementById('participant_answer_no').checked) {
        document.getElementById("answer_submit_no_feedback").disabled = true;
        submit_no();
    }
    else {
        // Show feedback div
        $('#must_answer_div').css('display','block');
    }
}

var feedback_respond = function() {
    if(document.getElementById('participant_training_answer_yes').checked) {
        $('#must_answer_div').css('display','none');
        respond("Yes");
    }
    else if(document.getElementById('participant_training_answer_no').checked) {
        $('#must_answer_div').css('display','none');
        respond("No");
    }
    else {
        // Show feedback div
        $('#must_answer_div').css('display','block');
    }
}

</script>
